
/* SECTION 2 */

.section-2 {
    --m-rows: 1;
    --grid-gap-history: 16px 24px;
    --half-column-count: 6;

    --rows: 6;
    --width: var(--section-width);
    --row-gap: 16px;
    --row-size: 48px;
    --column-gap: 24px;
    --grid-width: var(--section-width);
    --column-count: 12;
    --content-width: 999999px;
    --content-padding: 16px;
    --m-block-padding: 40px 16px 40px 16px;
    --oldContentWidth: 999999px;

    min-height: 70px;
    align-items:center;
    width:100%;

    background-color:transparent;
}

.section-2 .grid-item {
    text-align:justify;
}

.section-2 .grid-item-1 {
    --text: left;
    --align: flex-start;
    --justify: top;
    --position: 2/4/2/9;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.section-2 .grid-item-2 {
    --text: left;
    --align: flex-start;
    --justify: top;
    --position: 2/9/3/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.section-2 .grid-item-3 {
    --text: left;
    --align: flex-start;
    --justify: top;
    --position: 3/4/4/9;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.section-2 .grid-item-4 {
    --text: left;
    --align: flex-start;
    --justify: top;
    --position: 3/9/3/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.section-2 .grid-item-5 {
    --text: left;
    --align: center;
    --justify: center;
    --position: 4/1/4/1;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
    width: 1440px;
    text-align: center;
}

.section-2 .grid-item-6 {
    --text: left;
    --align: center;
    --justify: center;
    --position: 5/1/5/1;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
    width: 1440px;
    text-align: center;
}



