.darkmode {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

.day-night {
    --sun: #f0c644;
    --moon: #fdd47e;
    --moon-stars: #ddeafb;
    --sun-lines: 1;
    --sun-lines-r: 0deg;
    --sun-y: 0;
    --moon-y: 60px;
    --new-percent: 0%;
    display: grid;
    place-items: center;
    
    width:48px;
    height:48px;

    background: transparent;
}

.day-night.night {
    --sun-y: 60px;
    --moon-y: 0px;
}

.day-night:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-clip-path: circle(var(--new-percent) at 50% 50%);
    clip-path: circle(var(--new-percent) at 50% 50%);
}

.day-night .toggle {
    -webkit-appearance: none;
    outline: none;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: block;
    width: 48px;
    height: 34px;
}

.day-night .toggle svg {
    display: block;
    pointer-events: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    position: absolute;
    left: var(--left, -2px);
    top: var(--top, 14px);
    stroke-width: var(--stroke-width, 2px);
    stroke: var(--stroke, var(--line));
}

.day-night .toggle div {
    width: 28px;
    height: 41px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    position: absolute;
    left: 10px;
    top: -6px;
    border-radius: 0 0 9px 9px;
    transform: translateY(4px);
    background: transparent;
}

.day-night .toggle div svg {
    --left: 2px;
    --top: 6px;
    width: 24px;
    height: 24px;
}

.day-night .toggle div svg.sun {
    --stroke: var(--sun);
    transform: translateY(var(--sun-y)) translateZ(0);
}

.day-night .toggle div svg.sun .lines {
    transform-origin: 12px 12px;
    -webkit-animation: sun 20s linear infinite;
    animation: sun 20s linear infinite;
}

.day-night .toggle div svg.moon {
    --stroke: var(--moon);
    transform: translateY(var(--moon-y)) scale(0.75) translateZ(0);
}

.day-night .toggle div svg.moon .star-1,
.day-night .toggle div svg.moon .star-2 {
    stroke: var(--moon-stars);
}

.day-night .toggle div svg.moon .star-1 {
    transform-origin: 15px 3px;
    -webkit-animation: star 5s linear infinite;
    animation: star 5s linear infinite;
}

.day-night .toggle div svg.moon .star-2 {
    transform-origin: 21px 9px;
    -webkit-animation: star2 5s linear infinite;
    animation: star2 5s linear infinite;
}

@-webkit-keyframes sun {
    to {
        transform: rotate(360deg) translateZ(0);
    }
}

@keyframes sun {
    to {
        transform: rotate(360deg) translateZ(0);
    }
}

@-webkit-keyframes star {
    5%,
    20% {
        opacity: 0;
        transform: scale(0) rotate(90deg) translateZ(0);
    }
    25%,
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg) translateZ(0);
    }
}

@keyframes star {
    5%,
    20% {
        opacity: 0;
        transform: scale(0) rotate(90deg) translateZ(0);
    }
    25%,
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg) translateZ(0);
    }
}

@-webkit-keyframes star2 {
    0%,
    60% {
        opacity: 1;
        transform: scale(1) rotate(0) translateZ(0);
    }
    65%,
    70% {
        opacity: 0;
        transform: scale(0) rotate(90deg) translateZ(0);
    }
    75%,
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg) translateZ(0);
    }
}

@keyframes star2 {
    0%,
    60% {
        opacity: 1;
        transform: scale(1) rotate(0) translateZ(0);
    }
    65%,
    70% {
        opacity: 0;
        transform: scale(0) rotate(90deg) translateZ(0);
    }
    75%,
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg) translateZ(0);
    }
}

