.header {
    --m-rows: 1;
    --block-padding: 64px 0 64px 0;
    --grid-gap-history: 16px 24px;
    --half-column-count: 6;

    --rows: 1;
    --width: var(--section-width);
    --row-gap: 16px;
    --row-size: 48px;
    --column-gap: 24px;
    --grid-width: var(--section-width);
    --column-count: 12;
    --block-padding: 16px 0px 16px 0px;
    --content-width: 999999px;
    --content-padding: 16px;
    --m-block-padding: 40px 16px 40px 16px;
    --oldContentWidth: 999999px;

    min-height: 70px;
    align-items:center;
    width:100%;

    box-shadow: 0px 0px 20px 12px rgba(0,0,0,.1)
}

.header .grid-item-1 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/3/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .grid-item-2 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/9/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .grid-item-3 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/10/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .grid-item-4 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/11/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .grid-item-5 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/12/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .grid-item-6 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/13/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .grid-item-7 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/14/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;

    height:100%;
}

.header .grid-item-8 {
    --text: left;
    --align: flex-start;
    --justify: flex-start;
    --position: 1/14/1/14;
    --m-element-margin: 0 0 24px 0;
    --element-z-index: 2;
}

.header .header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--column-width);
}

.header .header-link {
    -webkit-transition: all .3s ease;
    -moz-transition:    all .3s ease;
    -o-transition:      all .3s ease;
    -ms-transition:     all .3s ease;
    transition:         all .3s ease;

    color:var(--color);

    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 7px;
}

.header .header-link span {
    color:var(--color);
}

.header-link:hover,
.header-link.active,
.header-link:focus, 
.header-link:focus-within {
    color: var(--color);
    text-decoration-color:var(--color);
    text-decoration: underline;
    
}

.header .btn-2 {
    align-items: flex-end;
}

.header .btn-2:hover {
    background-color:var(--colors-primary-dark)!important;
}

.header .btn-3 {
    display:none;
    width:64px;
    height:64px;
}

@media screen and (max-width:1450px) {
    .header-item {
        display:none!important;
        text-align: center;
    }

    .mobile-shown {
        display:initial!important;
    }

    .header .btn-3 {
        display:initial;
    }

    .header .sheet-1 {
        display: flex;
        margin: 0 48px !important;
        width: initial!important;
        align-items: center;
        flex-direction: column;
    }
    
    .header span {
        align-self:center;
    }
}

@media screen and (max-width:200px) {
    .header .btn-3 {
        display:none;
    }

    .header .sheet-1 {
        justify-content: center;
    }

    .header-item .mobile-shown {
        display:none!important;
    }
}