.header {
    position: absolute;
}

* {
    box-sizing:border-box;
}

.header .sheet-1 {
    width:100vw !important
}

::-webkit-scrollbar {
    display: none;
}

.section-1 .scrolling-header-1 {
    --scrolling-header-1-height:416px;
    background-color: var(--alt-background);
    border-radius: 30px;
    width: var(--section-width);
    margin: 0 auto;
    height:var(--scrolling-header-1-height);
    padding:64px;
}

.section-1 .scrolling-header-1 .image-1 {
    background:none;
    width:fit-content;
    position: absolute;
    top: calc(var(--scrolling-header-1-height) / 2);
    right: 10%;
    transform: translate(-50%,-50%);
}

.section-1 .scrolling-header-1 *:not(:last-child) {
    width:50%;
    margin-bottom:16px;
}

.section-1 .scrolling-header-1 .btn-1 {
    width: fit-content;
}

.section-1 .scrolling-header-1 .btn-1 {
    grid-auto-flow: column;
    display: grid;
    align-items: center;
    border-radius: 40px;
    padding: 8px 16px;

    color: var(--colors-light);
    background-color: var(--colors-secondary);
    border-color: transparent;

    transition: all .2s ease;

}

.section-1 .scrolling-header-1 .btn-1:hover,
.section-1 .scrolling-header-1 .btn-1:active,
.section-1 .scrolling-header-1 .btn-1:focus,
.section-1 .scrolling-header-1 .btn-1:focus-within {
    background-color: var(--colors-secondary-dark);
}

.section-1 .scrolling-header-1 .btn-play-icon {
    margin-left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    background-color: var(--colors-light);
    color: var(--colors-secondary);
    font-size: 20px;
}

.section-1 .scrolling-header-1 img {
    background:none;
} 

.section-1 .scrolling-foreground-1 {
    background: transparent;
    display: flex;
    width: 1440px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.section-1 .scrolling-foreground-1 h5 {
    margin-bottom: 2rem;
}

.section-1 .scrolling-foreground-1 p {
    margin-bottom: 2rem;
}

.section-1 .scrolling-foreground-1 .image {
    width:250px;
    height:auto;
}

.section-1 .scrolling-foreground-1 .icon {
    margin: auto auto 16px;
}

.section-1 .scrolling-foreground-1 .tile-card {
    max-width:340px;
    padding: var(--grid-item-padding);
    overflow: hidden;
    text-align: var(--text);
    width: fit-content;
    height: 550px;
    background-color:transparent;
}

.section-1 .scrolling-foreground-2 {
    background: var(--alt-background);
    border-radius: 30px;
    width: var(--section-width);
    margin: 0 auto;
    padding:64px;
    top:50%;
    transform: translateY(-50%);
}

.section-1 .scrolling-foreground-2 *:not(.divider):not(.btn) {
    background:none;
}

.section-1 .scrolling-foreground-2 .image-1 {
    width:50%;
    height:auto;
    background:none;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0,-50%);
}

.section-1 .scrolling-foreground-2 .text-2 {
    width:50%
}

.section-1 .scrolling-foreground-2 .text-4 {
    width:36%
}

.section-1 .scrolling-foreground-2 *:not(.image):not(.divider):not(.btn) {
    margin-bottom:8px;
}

.section-1 .scrolling-foreground-3,
.section-2 .scrolling-foreground-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:none;
    transform-origin: top;
    position: absolute;
    left: 50%;
    top: 15%;
}

.section-1 .scrolling-foreground-3 *:not(.divider),
.section-2 .scrolling-foreground-2 *:not(.divider) {
    margin-bottom:8px;
    background:none;
}

.section-1 .scrolling-foreground-4,
.section-2 .scrolling-foreground-1 {
    width: 1440px;
    margin: 0 auto;
    display: grid;
    row-gap: 100px;
    grid-template-columns: auto auto;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.section-1 .scrolling-foreground-4 .container-item,
.section-2 .scrolling-foreground-1 .container-item {
    text-align: center;
    padding:16px;
    display: flex;
    width: calc(1440px/4.5);
    flex-direction: column;
    align-content: center;
    align-items: center;
    background: transparent;
    box-sizing: content-box; 
}

.section-1 .scrolling-foreground-4 .container h5,
.section-2 .scrolling-foreground-1 .container h5 {
    margin-bottom: 2rem;
}

.section-1 .scrolling-foreground-4 .container p,
.section-2 .scrolling-foreground-1 .container p {
    margin-bottom: 2rem;
}

.section-1 .scrolling-foreground-4 .icon,
.section-2 .scrolling-foreground-1 .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    background-color: #fbfbfb;
    color: var(--colors-accent-1);
    font-size: 24px;
    box-shadow: 0 2px 4px rgb(95 92 120 / 16%);
    margin-bottom: 1rem;
}

.section-1 .scrolling-foreground-4 .fas,
.section-1 .scrolling-foreground-4 .fa-solid,
.section-2 .scrolling-foreground-1 .fas,
.section-2 .scrolling-foreground-1 .fa-solid {
    background: transparent
}

.section-1 .scrolling-foreground-4 {
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translateX(-50%);
}

.section-2 .scrolling-foreground-1 {
    margin-top: 130px;
}

.section-2 .scrolling-foreground-2 {
    position: fixed;
    transform: translate(-50%,0);
    transform-origin: top;
}