body {
    overflow-y:visible!important;
}

.scrolling-section {
    position:relative
}

.scrolling-view {
    height:100vh;
    position:sticky;
    top:0;
    width:100%;
}

.scrolling-content {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrolling-foreground {
    position: relative;
}

.scrollElement {
    position: absolute;
}

.scrollElementRelative {
    position:relative;
}

.scrollDisablePopup {
    background-color: var(--alt-background);
    color: var(--color);
    position: fixed;
    font-family: Lexend, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 99;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
    transition: opacity 1s ease;
    padding: 1em;
    width: 23em;
    margin-bottom: 1em;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    left: 1em;
    border-radius: 1em;
    justify-content: space-between;
    transform-origin:bottom left;
    transform:scale(0.8);
}

.noScrollFrame {
    position:absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0px; 
    z-index: 99;
}