:root {
    --colors-primary: #50449B;
    --colors-accent-1: #D5D9DE;
    --colors-accent-2: #3F2E56;
    --colors-secondary: #97B7E8;
    --colors-primary-dark: #433982;
    --colors-accent-1-dark: #C9CCD1;
    --colors-accent-2-dark: #2D213D;
    --colors-primary-light: #5D4FB5;
    --colors-accent-1-light: #F4F6F8;
    --colors-accent-2-light: #533C70;
    --colors-primary-accent: #574AA8;
    --colors-secondary-dark: #86A3CF;
    --colors-accent-1-accent: #E4E7EB;
    --colors-accent-2-accent: #493563;
    --colors-secondary-light: #A6C9FF;
    --colors-secondary-accent: #9FC1F5;
}