:root {
    --colors-primary: #808780;
    --colors-accent-1: #A9C4AE;
    --colors-accent-2: #CCB8AE;
    --colors-secondary: #BEC5BD;
    --colors-primary-dark: #686E68;
    --colors-accent-1-dark: #8CB093;
    --colors-accent-2-dark: #B89C8E;
    --colors-primary-light: #9BA19B;
    --colors-accent-1-light: #C9DACC;
    --colors-accent-2-light: #DFD3CD;
    --colors-primary-accent: #8E948E;
    --colors-secondary-dark: #A4AEA3;
    --colors-accent-1-accent: #B9CFBD;
    --colors-accent-2-accent: #D6C5BD;
    --colors-secondary-light: #DADED9;
    --colors-secondary-accent: #CCD2CB;
}