:root {
    --colors-primary: #99B3BF;
    --colors-accent-1: #DADFE5;
    --colors-accent-2: #2F3133;
    --colors-secondary: #E0C5B1;
    --colors-primary-dark: #859BA6;
    --colors-accent-1-dark: #D0D5DB;
    --colors-accent-2-dark: #1F2021;
    --colors-primary-light: #ADCBD9;
    --colors-accent-1-light: #FAFBFC;
    --colors-accent-2-light: #4B4E52;
    --colors-primary-accent: #A3BFCC;
    --colors-secondary-dark: #C7AF9D;
    --colors-accent-1-accent: #E9EDF2;
    --colors-accent-2-accent: #3B3D40;
    --colors-secondary-light: #FADCC5;
    --colors-secondary-accent: #EDD1BB;
}