:root {
    --colors-primary: #FBFF47;
    --colors-accent-1: #EFECCA;
    --colors-accent-2: #A9CBB7;
    --colors-secondary: #DBDAD4;
    --colors-primary-dark: #E6EB00;
    --colors-accent-1-dark: #E3DDA1;
    --colors-accent-2-dark: #89B89D;
    --colors-primary-light: #FDFFAD;
    --colors-accent-1-light: #FAF9EF;
    --colors-accent-2-light: #C9DED2;
    --colors-primary-accent: #FCFF7A;
    --colors-secondary-dark: #C5C3BA;
    --colors-accent-1-accent: #F4F2DC;
    --colors-accent-2-accent: #C9DED2;
    --colors-secondary-light: #F3F3F1;
    --colors-secondary-accent: #E8E7E3;
}