:root {
    --colors-primary: #F4E04D;
    --colors-accent-1: #A9C4AE;
    --colors-accent-2: #CCB8AE;
    --colors-secondary: #5386E4;
    --colors-primary-dark: #F1D81D;
    --colors-accent-1-dark: #8CB093;
    --colors-accent-2-dark: #B89C8E;
    --colors-primary-light: #F7E87D;
    --colors-accent-1-light: #C9DACC;
    --colors-accent-2-light: #DFD3CD;
    --colors-primary-accent: #F6E465;
    --colors-secondary-dark: #2767DD;
    --colors-accent-1-accent: #B9CFBD;
    --colors-accent-2-accent: #D6C5BD;
    --colors-secondary-light: #7FA5EB;
    --colors-secondary-accent: #6996E7;
}