:root {
    --colors-dark: #1B181D;
    --colors-light: #fff;
    --colors-danger: #EA5D5C;
    --colors-success: #4dbd74;
    --colors-warning: #ffc107;
    --colors-grey-100: #cfcfd7;
    --colors-grey-200: #c2cfd6;
    --colors-grey-300: #c1c1cf;
    --colors-grey-400: #9f9fab;
    --colors-grey-500: #6d6d83;
    --colors-grey-600: #5c6970;
    --colors-grey-700: #454f54;
    --colors-grey-800: #2e3538;
    --colors-grey-900: #2e3538;
}

/* 17 Palletes */